/*------------------------header-----------------*/
header{
    background-color:#29679A;
    color: white;
}

ul.list-unstyled {
    display: flex;
    justify-content: space-around;
}



/*---------------images page 1 frontend liste des épisodes----------------------*/

img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 4px;
}


/*--------------------titre page 1 frontend liste des épisodes-------------------*/

h1{
    text-align: center;
    margin-top: 20px;
}


/*----------------------titre de la liste des épisodes----------------------------*/
h2{
    text-align: center;
    font-style: italic;
    margin-bottom: 0px;
    margin-top: 20px;
}

/*------------------------nom de l'auteur page 1 frontend-------------------------*/
.authorName{
    text-align: end;
}

/*------------------------Tous les h3 des différentes pages-----------------------*/
h3
{
    text-align:center;
    background-color: #29679A;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
    padding: 10px 0px;
}


/*-----------------------Tous les h4 des différentes pages--------------------------*/
h4{
    text-align:center;
    font-size:1em;
    margin-bottom:0px;
    padding: 10px 0px;
    border: 2px solid #29679A;
}


/*-----------------------affichage des épisodes------------------------------------*/
.episodes p
{
    padding: 10px;
    text-align: justify;
    color: white;
}

.episodes
{
    background-color: rgba(41, 103, 154, 0.8);
    margin: auto;
    border-radius: 4px;
    border: 2px solid #29679A;
    margin-top: 20px;
    margin-bottom: 20px;
}


a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #29679A;
    padding: 10px 0px;
}

a:hover{
    color: white;
}

/*-------------------page 2 frontend liste commentaires d'un épisode et form d'ajout de commentaire----------------*/

div#p2comment {
    padding: 0px;
}

.formAddComment {
    text-align: center;
}

.addComment {
    display: flex;
    flex-direction: column;
}

textarea#content {
    height: 150px;
    margin-top: -20px;
    margin-bottom: 20px;
}

/*----------------------page 3 frontend contact-------------------------------------------------------------------*/

h3#titleContact {
    background-color: white;
    color: black;
    font-size: 2em;
    margin-top: 85px;
    margin-bottom: 20px;
}

p#pContact {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 65px;
}

div#envelopeRow {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div#mailRow {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

i#envelopeContact, i#mailContact {
    font-size: 5.5em;
    color: rgba(41, 103, 154, 0.8);
}

a#linkContact {
    background-color: white;
    color: black;
    font-style: italic;
    text-decoration: underline;
}


/*----------------------page 1 backend connection-------------------------------------------------------------------*/

.connection{
    background-color: rgba(41, 103, 154, 0.8);
    border-radius: 4px;
    border: 2px solid #29679A;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 400px;
}

h1.titleConnectAdmin {
    margin-top: 50px;
}


/*------------------------------footer---------------------------------------------*/

footer{
    background-color:#29679A;
    color: white;
    margin-top: 200px;
}

i#topButtonFront {
    color: white;
    font-size: 3em;
}

.fa-angle-up:before {
    margin-left: -20px;
}

p.col {
    display: flex;
    justify-content: center;
}

.container{
    display:flex;
    flex-direction: column;
}

.col-lg-12 {
    text-align: justify;
    display: flex;
    flex-direction: column;
}
